.background-container {
  &--desktop {
    height: 825px;
    background-image: url("../img/jpg/bg-bike-desktop@1x.jpg");
    background-color: #101010;
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/bg-bike-desktop@2x.jpg");
      background-size: cover;
    }
  }

  &--bike-types {
    background-color: #f6f7f9;
  }

  &--bike-video {
    background-color: #131314;
  }
}

@media (max-width: $tablet-width) {
  .background-container {
    &--header {
      height: 340px;
      background-image: url("../img/jpg/bg-bike-tablet@1x.jpg");
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/jpg/bg-bike-tablet@2x.jpg");
        background-size: cover;
      }
    }

    &--nojs {
      position: relative;
      background-image: none;
      background-color: transparent;
      height: 341px;

      &::after {
        position: absolute;
        content: "";
        top: 480px;
        width: 100%;
        height: 340px;
        background-color: #101010;
        background-image: url("../img/jpg/bg-bike-tablet@1x.jpg");
        background-position: center 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/jpg/bg-bike-tablet@2x.jpg");
          background-size: cover;
        }
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .background-container {
    &--header {
      height: 390px;
      background-image: url("../img/jpg/bg-bike-mobile@1x.jpg");
      background-color: #1d1d1d;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/jpg/bg-bike-mobile@2x.jpg");
        background-size: cover;
      }
    }

    &--nojs {
      height: 390px;

      &::after {
        height: 390px;
        background-color: #1d1d1d;
        background-image: url("../img/jpg/bg-bike-mobile@1x.jpg");
        background-size: cover;

        @media (min-resolution: 2dppx) {
          background-image: url("../img/jpg/bg-bike-mobile@2x.jpg");
          background-size: cover;
        }
      }
    }
  }
}
