.background-container {
  &--header {
    height: 825px;
    background-image: url("../../img/jpg/bg-bike-desktop@1x.jpg");
    background-color: #101010;
    background-position: center 100%;
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/jpg/bg-bike-desktop@2x.jpg");
      background-size: 1440px 825px;
    }
  }
}

@media (max-width: $tablet-width) {
  .background-container {
    &--header {
      height: 340px;
      background-image: url("../../img/jpg/bg-bike-tablet@1x.jpg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/jpg/bg-bike-tablet@2x.jpg");
      background-size: 767px 340px;
    }
  }
}

@media (max-width: $mobile-width) {
  .background-container {
    &--header {
      height: 390px;
      background-image: url("../../img/jpg/bg-bike-mobile@1x.jpg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/jpg/bg-bike-mobile@2x.jpg");
      background-size: 319px 390px;
    }
  }
}
