.bike-choice-form {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: -652px;
  right: -3px;
  max-width: 327px;
}

.bike-choice-form p {
  margin: 0;
  margin-bottom: 20px;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.bike-choice-form input {
  margin-bottom: 20px;
  padding-top: 17px;
  padding-left: 29px;
  padding-bottom: 13px;
  width: 100%;
  font-size: 15px;
  color: #1c1c1c;
  border: none;
  border-radius: 4px;

  &:hover,
  &:focus {
    box-shadow: 0 0 3px 3px #0ad9c6;
  }
}

.bike-choice-form button {
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  padding-right: 48px;
  padding-bottom: 15px;
  padding-left: 48px;
  background-color: #0ad9c6;
  border: none;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 4px 5px #ffffff;
  }
}

@media (max-width: $tablet-width) {
  .bike-choice-form {
    position: static;
    margin: 0 auto;
    max-width: 78%;
  }

  .bike-choice-form p {
    margin-bottom: 28px;
    font-size: 18px;
    color: #000000;
  }

  .bike-choice-form input {
    margin-bottom: 18px;
    margin-left: 8px;
    padding-left: 23px;
    width: 95.1%;
    border: 1px solid #c9ccd4;
  }

  .bike-choice-form button {
    width: 95.1%;
    margin-left: 8px;

    &:hover {
      box-shadow: 0 0 4px 5px #025750;
    }
  }
}

@media (max-width: $mobile-width) {
  .bike-choice-form {
    max-width: 100%;
  }

  .bike-choice-form p {
    margin-bottom: 19px;
  }

  .bike-choice-form input {
    width: 100%;
    margin-left: 0;
  }

  .bike-choice-form button {
    width: 100%;
    margin-left: 0;
    padding-top: 17px;
    padding-bottom: 18px;
  }
}
