.bike-types {
  padding-top: 148px;
  padding-bottom: 128px;
}

.bike-types h2 {
  margin: 0;
  margin-bottom: 48px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #1f1f1f;
}

.bike-types__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  padding: 0;
  list-style: none;
}

.bike-types__item:nth-child(3n-2) {
  margin-top: 10px;
}

.bike-types__item:nth-child(3n-1) {
  margin-top: 39px;
}

.bike-types__item:nth-child(3n-2) .bike-card__img-wrap {
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    top: 30%;
    left: -60px;
    width: 180px;
    height: 180px;
    border: 27px solid #0ad9c6;
    border-radius: 50%;
    z-index: -1;
  }
}

.bike-types__item:nth-child(3n-1) .bike-card__img-wrap {
  position: relative;

  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 47px;
    height: 47px;
    border: 8px solid #0ad9c6;
  }

  &::before {
    top: -19px;
    left: -19px;
  }

  &::after {
    bottom: -5px;
    right: -22px;
  }
}

.bike-types__item:nth-child(3n) .bike-card__img-wrap {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    top: -32px;
    right: -37px;
    width: 95px;
    height: 95px;
    border: 17px solid #0ad9c6;
    border-radius: 50%;
  }
}

@media (max-width: $tablet-width) {
  .bike-types {
    padding-top: 54px;
    padding-bottom: 22px;
  }
  
  .bike-types h2 {
    margin-bottom: 33px;
    font-size: 24px;
  }

  .bike-types__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 0;
    padding-right: 68px;
    padding-left: 68px;
  }

  .bike-types__item {
    flex-grow: 1;
    margin-bottom: 50px;

    &:nth-child(3n-2),
    &:nth-child(3n-1),
    &:nth-child(3n) {
      margin-top: 0;
    }
  }

  .bike-types__item img {
    max-width: 270px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .bike-types__item:nth-child(3n-2) img {
    object-position: 50% 50%;
  }

  .bike-types__item:nth-child(3n-2) .bike-card__img-wrap {
    &::before {
      top: 63%;
      left: -35px;
      width: 127px;
      height: 127px;
      border-width: 18px;
    }
  }

  .bike-types__item:nth-child(3n) img {
    object-position: 50% 50%;
  }

  .bike-types__item:nth-child(3n-1) .bike-card__img-wrap {
    &::after,
    &::before {
      content: none;
    }
  }

  .bike-types__item:nth-child(3n) img {
    object-position: 50% 80%;
  }

  .bike-types__item:nth-child(3n) .bike-card__img-wrap {
    &::before {
      top: -19px;
      right: -24px;
      width: 68px;
      height: 68px;
      border-width: 13px;
    }
  }
}

@media (max-width: $mobile-width) {
  .bike-types__list {
    display: block;
    padding-right: 9px;
    padding-left: 9px;
  }

  .bike-types__item:nth-child(3n-2) .bike-card__img-wrap {
    &::before {
      top: 70%;
      left: -25px;
    }
  }
}
