.bike-choice-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bike-choice-form p {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.bike-info__choice button {
  font-size: 15px;
  font-weight: 600;
  padding-top: 20px;
  padding-right: 48px;
  padding-bottom: 20px;
  padding-left: 48px;
  background-color: #0ad9c6;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.bike-info__choice input {
  width: 100%;
  font-size: 15px;
  padding-top: 14px;
  padding-left: 29px;
  padding-bottom: 10px;
  color: #1c1c1c;
}

@media (max-width: $tablet-width) {
  .bike-choice-form p {
    font-size: 18px;
    color: #000000;
  }
}

@media (max-width: $tablet-width) {
  .bike-info__choice button {
    padding-right: 28px;
    padding-left: 28px;
  }
}