.bike-video {
  position: relative;
  margin-bottom: 250px;
  min-height: 706px;
}

.bike-video h2 {
  margin: 0;
  margin-bottom: 18px;
  padding-top: 122px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.bike-video p {
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 340px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}

.bike-video img {
  position: absolute;
  top: 282px;
  left: 50%;
  margin-left: -464px;
}

.bike-video button {
  position: absolute;
  top: 511px;
  left: 50%;
  margin-left: -33px;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50%;
  background-color: #0ad9c6;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 24px;
    left: 29px;
    width: 14px;
    height: 19px;
    background-color: #000000;
    clip-path: polygon(0 100%, 100% 50%, 0% 0%);
  }

  &:hover {
    box-shadow: 0 0 4px 5px #ffffff;
  }
}

@media (max-width: $tablet-width) {
  .bike-video {
    margin-bottom: 155px;
    min-height: 413px;
  }

  .bike-video h2 {
    padding-top: 71px;
    font-size: 24px;
  }

  .bike-video p {
    max-width: 429px;
  }

  .bike-video img {
    top: 217px;
    margin-left: -251px;
    max-width: 503px;
  }

  .bike-video button {
    top: 312px;
    margin-left: -45px;
    width: 90px;
    height: 90px;

    &::after {
      top: 34px;
      left: 40px;
      width: 17px;
      height: 22px;
      clip-path: polygon(0 100%, 100% 50%, 0% 0%);
    }
  }
}

@media (max-width: $mobile-width) {
  .bike-video {
    min-height: 384px;
  }

  .bike-video img {
    margin-left: -144px;
    max-width: 288px;
  }

  .bike-video button {
    top: 330px;
  }
}
