.bike-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bike-card img {
  margin-bottom: 11px;
}

.bike-card h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.5px;
  order: 1;
}
