.bike-choice {
  position: relative;
  margin: 0 auto;
  max-width: 873px;
}

@media (max-width: $tablet-width) {
  .bike-choice {
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 60%;
  }
}

@media (max-width: $mobile-width) {
  .bike-choice {
    max-width: 100%;
  }

  .bike-choice button {
    padding-right: 28px;
    padding-left: 28px;
  }
}
