.main-nav {
  margin: 0 auto;
  margin-bottom: 250px;
  max-width: 873px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__item {
  margin-top: 15px;
}

.main-nav__link {
  display: block;
  padding-top: 5px;
  padding-right: 22px;
  padding-bottom: 3px;
  padding-left: 20px;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;

  &:hover {
    color: #0ad9c6;
    opacity: 0.9;
  }
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav {
    position: relative;
    margin-bottom: 0;
    max-width: 100%;

    &--nojs {
      position: relative;
      margin-top: 101px;
      margin-bottom: 119px;
    }

    &--nojs .burger {
      display: none;
    }

    &--nojs .main-nav__list {
      position: static;
      display: block;
    }

    &--closed .burger {
      &::before {
        content: "";
        position: absolute;
        width: 22.5px;
        height: 1px;
        background-color: #000000;
        box-shadow: 0 -7px 0 0 #000000, 0 7px 0 0 #000000;
        transform: translateX(-10px);
      }
    }

    &--opened {
      position: absolute;
      margin-top: 568px;
      z-index: 100;

      .main-nav__list {
        position: absolute;
        top: -470px;
        display: block;
        margin: 0;
        margin-left: auto;
        padding-left: 0;
      }
    }

    &--opened .burger {
      position: absolute;
      top: -567px;
      right: -16px;
      background-color: transparent;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 10px;
        width: 31px;
        height: 1px;
        background-color: rgba(20, 21, 23, 0.2);
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .main-nav__item {
    position: relative;
    margin-bottom: 23px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -485px;
      width: 1500px;
      height: 60px;
      background-color: #fbf8f8;
      z-index: -10;
    }
  }

  .main-nav__link {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0;
    padding-top: 13px;
    padding-right: 260px;
    padding-bottom: 20px;
    color: #48494d;
    opacity: 1;

    &::before,
    &::after {
      position: absolute;
      top: 49%;
      right: 2%;
      content: "";
      width: 9px;
      height: 2px;
      background-color: #91929b;
    }

    &::before {
      transform: rotate(45deg);
      top: 27px;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      opacity: 0.7;

      &::before,
      &::after {
        background-color: #0ad9c6;
      }
    }
  }
}

@media (max-width: $mobile-width) {
  .main-nav__link {
    padding-right: 60px;
  }
}
