.main-nav {
  margin: 0 auto;
  margin-bottom: 265px;
  max-width: 873px;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-nav__item {
  margin-top: 3px;

  &:first-child .main-nav__link {
    padding-left: 0;
  }

  &:last-child .main-nav__link {
    padding-right: 0;
  }
}

.main-nav__link {
  display: block;
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 8px;
  padding-left: 30px;
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  opacity: 0.7;
}

@media (max-width: $tablet-width) {
  .main-nav--closed .main-nav__list {
    display: none;
  }

  .main-nav {
    margin-bottom: 0;

    &--nojs {
      position: relative;
      margin-top: 480px;
    }

    &--nojs .burger {
      display: none;
    }

    &--nojs .main-nav__list {
      display: block;
    }

    &--closed .burger {
      &::before {
        content: "";
        position: absolute;
        width: 22.5px;
        height: 1px;
        background-color: #ffffff;
        box-shadow: 0 -7px 0 0 #ffffff, 0 7px 0 0 #ffffff;
        transform: translateX(-10px);
      }
    }

    &--opened {
      position: relative;
      margin-top: 480px;
    }

    &--opened .burger {
      position: absolute;
      top: -480px;
      background-color: transparent;

      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 10px;
        width: 31px;
        height: 1px;
        background-color: rgba(20, 21, 23, 0.2);
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }

  .main-nav__list {
    position: absolute;
    top: -400px;
    display: block;
    margin: 0;
    margin-left: auto;
    padding-left: 0;
  }

  .main-nav__item {
    position: relative;
    margin-bottom: 30px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: -485px;
      width: 1500px;
      height: 60px;
      background-color: #fbf8f8;
      z-index: -10;
    }
  }

  .main-nav__link {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    padding-left: 0;
    padding-top: 13px;
    padding-right: 260px;
    padding-bottom: 20px;
    color: #48494d;
    opacity: 1;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 10%;
      content: "";
      width: 12px;
      height: 3px;
      background: #91929b;
    }

    &::before {
      transform: rotate(45deg);
      top: 27px;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media (max-width: $mobile-width) {
  .main-nav__link {
    padding-right: 60px;
  }
}
