.page-footer__address {
  margin-bottom: 40px;
}

.page-footer__address h2 {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #1f1f1f;
}

.page-footer__address p {
  margin: 0 auto;
  width: 555px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
}

.page-footer__navigation {
  margin: 0 auto;
  margin-bottom: 26px;
  width: 66.4%;
}

.page-footer__map {
  width: 100%;
  height: 530px;
  border: none;
  background-image: url("../../img/png/bg-map-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/png/bg-map-desktop@2x.png");
    background-size: 957px 530px;
  }
}

.page-footer__contacts {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 100px;
  max-width: 522px;
}

.page-footer__contacts-link {
  padding-left: 20px;
  font-size: 16px;

  &:hover .page-footer__icon {
    transform: scale(1.55);
    transition: 0.35s;
  }
}

.page-footer__contacts-link span {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.page-footer__icon {
  position: absolute;
  top: 5px;
  stroke: #0ad9c6;

  &--mail {
    fill: #0ad9c6;
    left: -20px;
  }

  &--phone {
    fill: transparent;
    left: 337px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__address {
    margin-bottom: 20px;
  }

  .page-footer__address h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .page-footer__address p {
    width: 629px;
  }

  .page-footer__navigation {
    margin-bottom: 23px;
    width: 91%;
  }

  .page-footer__map {
    background-image: url("../../img/png/bg-map-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/png/bg-map-tablet@2x.png");
      background-size: 698px 545px;
    }
  }

  .page-footer__contacts {
    padding-bottom: 70px;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__address h2 {
    font-size: 18px;
  }

  .page-footer__address p {
    max-width: 92%;
  }

  .page-footer__navigation {
    margin-bottom: 16px;
    width: 100%;
  }

  .page-footer__map {
    height: 250px;
    background-image: url("../../img/png/bg-map-mobile@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/png/bg-map-mobile@2x.png");
      background-size: 320px 250px;
    }
  }

  .page-footer__contacts {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__contacts-link {
    margin-bottom: 13px;

    &--email {
      padding-left: 40px;
    }
  }

  .page-footer__icon {
    position: absolute;
    stroke: #0ad9c6;

    &--mail {
      top: 9px;
      left: calc(50% - 130px);
      fill: #0ad9c6;
    }

    &--phone {
      top: 48px;
      left: calc(50% - 101px);
      fill: transparent;
    }
  }
}
