.page-header {
  margin-bottom: 149px;
}

@media (max-width: $tablet-width) {
  .page-header {
    margin-bottom: 70px;
  }
}

@media (max-width: $mobile-width) {
  .page-header {
    margin-bottom: 50px;
  }
}
