.page-footer__address {
  margin-bottom: 30px;
}

.page-footer__address h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  color: #1f1f1f;
}

.page-footer__address p {
  margin: 0 auto;
  width: 555px;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
}

.page-footer__navigation {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 66.4%;
}

.page-footer__map {
  height: 530px;
  background-image: url("../../img/png/bg-map-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: center center;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/png/bg-map-desktop@2x.png");
    background-size: 957px 530px;
  }
}

.page-footer__contacts {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 552px;
}

.page-footer__contacts-link {
  font-size: 16px;
  opacity: 0.5;
}

.page-footer__icon {
  position: absolute;
  top: 5px;
  stroke: #0ad9c6;

  &--mail {
    fill: #0ad9c6;
    left: -40px;
  }

  &--phone {
    fill: transparent;
    left: 380px;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__address h2 {
    font-size: 24px;
  }

  .page-footer__address p {
    width: 629px;
  }

  .page-footer__navigation {
    width: 91%;
  }

  .page-footer__map {
    background-image: url("../../img/png/bg-map-tablet@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/png/bg-map-tablet@2x.png");
      background-size: 698px 545px;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer__address h2 {
    font-size: 18px;
  }

  .page-footer__address p {
    width: 288px;
  }

  .page-footer__navigation {
    width: 100%;
  }

  .page-footer__map {
    height: 250px;
    background-image: url("../../img/png/bg-map-mobile@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/png/bg-map-mobile@2x.png");
      background-size: 320px 250px;
    }
  }

  .page-footer__contacts {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__icon {
    position: absolute;
    stroke: #0ad9c6;

    &--mail {
      top: 5px;
      left: calc(50% - 140px);
      fill: #0ad9c6;
    }

    &--phone {
      top: 35px;
      left: calc(50% - 97px);
      fill: transparent;
    }
  }
}
