@import "global/fonts.scss";
@import "global/global.scss";
@import "global/variables.scss";
@import "blocks/page.scss";
@import "blocks/page-header";
@import "blocks/page-footer.scss";
@import "blocks/page-body.scss";
@import "blocks/main-nav.scss";
@import "blocks/container.scss";
@import "blocks/burger.scss";
@import "blocks/bike-info.scss";
@import "blocks/bike-choice-form.scss";
@import "blocks/background-container.scss";
@import "blocks/about-us.scss";
